---
layout: default
title: Rafael Veiga - Senior Software Engineer
---

<div class="profile-header">
  <img src="/assets/images/me.jpg" alt="Rafael Veiga" class="profile-image" />
  <h3>
    Hey, I'm <a href="about.html">Rafael</a>. I'm a Senior Software Engineer
    currently working at
    <a href="https://podium.com" target="_blank">Podium</a>
  </h3>
</div>

{% for item in site.data.work_experience %}
<div class="work-experience">
  <div class="work-experience-dates">{{ item.start }} - {{ item.end}}</div>
  <div class="work-experience-content">
    <h4>{{ item.position }}</h4>
    <h5>{{ item.company }}</h5>

    <p>{{ item.description }}</p>

    <div class="skills-container">
      {% for skill in item.skills %}
      <span class="skill">{{ skill }}</span>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
